.station-index {
  background-color: #121212;
  color: white;
  padding-inline-start: 40px;
  padding-block-start: 40px;
  @include for-mobile-layout {
    padding: 0;
    h2 {
      font-size: 20px;
    }
  }
  @include for-narrow-layout {
    background: linear-gradient(180deg, #793636 -30%, #121212 20%);
  }

  .station-index-item {
    margin-block: 2em;
  }

  .all-stations-list {
    // overflow-y: scroll;
    height: 500px;
  }
}

.station-index-main {
  position: relative;
  padding-inline-start: 0.5em;
}

.shadow {
  margin-block-start: 2em;
  box-shadow: rgb(18 18 18 / 50%) -40px 0px 13px 0px inset;
  position: absolute;
  z-index: 20;
  pointer-events: none;
  inset: 0px;
  height: 100%;
  margin-right: -8px;
}
