.app-footer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 5.4em;

  padding: rem(10px) 1rem;
  background-color: black;

  p {
    margin: 0;
  }

  span {
    font-size: 0.8em;

    &.local-services {
      color: $clr1;
    }

    &.remote-services {
      color: $clr5;
    }
  }
}

.song-controls {
  display: grid;
  gap: 9px;
  width: 40%;

  input {
    margin-top: 1rem;
    width: 620px;
  }
}

.song-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.footer-play-btn {
  border-radius: 50%;
  // 12x14 : 32x32
  $size: 32px;
  height: $size;
  width: $size;
  padding-inline: 6px;
  margin: 0;
}

.next-song-btn {
  fill: #b3b3b3;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.previous-song-btn {
  fill: #b3b3b3;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.volume-control {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;

  .volume-icon,
  .volume-mute-icon {
    height: 14px;
    width: 14px;
    fill: white;
  }

  .volume-slider {
    -webkit-appearance: none;

    height: 4px;
    border-radius: 2px;
    width: 100px;
    margin-right: 1em;

    background: linear-gradient(
      to right,
      white 0%,
      white var(--volume-percentage),
      $input-background-color var(--volume-percentage),
      $input-background-color 100%
    );

    &:hover {
      background: linear-gradient(
        to right,
        $input-accent-color-hover 0%,
        $input-accent-color-hover var(--volume-percentage),
        $input-background-color var(--volume-percentage),
        $input-background-color 100%
      );
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
      border: none;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::-webkit-slider-thumb {
      opacity: 1;
    }

    // for firfox users
    &::-moz-range-thumb {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
      border: none;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::-moz-range-thumb {
      opacity: 1;
    }
  }
}

.song-position-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  font-size: 14px;

  input[type='range'] {
    margin-block: auto;
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    cursor: pointer;
    width: 100%;
    height: 4px;
    border-radius: 2em;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    // background-color: #4d4d4d;
    // background: linear-gradient(90deg, white 30%, #4d4d4d 30%);

    border-radius: 2rem;
    height: 0.5rem;
  }
  //   input[type='range']:hover::-webkit-slider-runnable-track {

  //   }

  input[type='range']:hover::-moz-range-track {
    background-color: #4d4d4d;
    border-radius: 2rem;
    height: 0.5rem;
  }

  input[type='range']::-webkit-slider-thumb {
    opacity: 0;
  }

  input[type='range']:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 1;
    margin-top: -4px;
    background-color: white;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
}

.song-duration {
  font-size: 12px;
  line-height: normal;
  letter-spacing: normal;
  color: #b3b3b3;
}

.elapsed-time {
  line-height: normal;
  letter-spacing: normal;
  color: #b3b3b3;
}

////////
.app-footer .song-details-container {
  @include flex($justify-content: start, $align-items: center, $gap: 0);
  max-width: 50%;
  padding: 0.4rem 1rem;
  height: 84px;

  .song-details {
    //@include grid-templte($columns: 1fr 1fr, $rows: 1fr, $gap: em(10px));
    @include flex(
      $justify-content: center,
      $align-items: center,
      $flex-direction: row,
      $gap: 8px
    );

    .song-details-spans {
      @include flex(
        $justify-content: center,
        $align-items: center,
        $flex-direction: column,
        $gap: 8px
      );
      text-align: left;

      .song-name-span {
        color: $clr-neutral-white;
        &:hover {
          text-decoration: underline $clr-neutral-white;
          cursor: pointer;
        }
      }

      .song-artist-span {
        color: $clr-neutral-gray-5;

        &:hover {
          color: $clr-neutral-white;
          text-decoration: underline $clr-neutral-white;
          cursor: pointer;
        }
      }
    }
  }
}

.song-details-container {
  width: 30%;
}
