.edit-station-modal {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: em(384px);
  width: em(524px);

  display: grid;
  grid-template-columns: 1fr;
  padding: em(22px);
  background-color: #282828;
  border-radius: em(8px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: #fff;

  .station-edit-modal-header {
    @include flex($justify-content: space-between);
    margin-bottom: 24px;

    .station-edit-heading {
      font-weight: 700;
      text-wrap: balance;
      -webkit-tap-highlight-color: transparent;
      color: $clr-neutral-white;
      margin-block: 0;
      font-size: 1.5rem;
    }

    .modal-close-btn {
      position: relative;
      background: none;
      border: none;
      font-size: 1.25rem;
      cursor: pointer;

      border-radius: 32px;
      fill: currentcolor;
      width: em(16px);
      height: em(16px);
      // overflow-clip-margin: content-box;
      // overflow: hidden;
      color: hsla(0, 0%, 100%, 0.7);

      @include flex();
      img.modal-close-icon {
        width: 16px;
        height: 16px;
        fill: #fff;
        color: #fff;
        position: absolute;
        inset: 0;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .form-invalid-input {
    align-items: center;
    height: 100%;
    font-size: 0.75rem;
    color: white;
    margin-block: 0;
    line-height: normal;

    .invalid-unsaved,
    .invalid-required {
      @include flex($justify-content: flex-start, $gap: em(8px));
      padding: 8px 6px 8px 8px;
      margin-block: 4px;
      border-radius: 4px;
      //height: em(32px);
      height: 32px;
      width: 476px;

      img.warning-icon {
        width: 1em;
        aspect-ratio: 1 / 1;
      }
    }

    .invalid-required {
      background-color: #e22134;
    }

    .invalid-unsaved {
      background-color: #2e77d0;
    }
  }

  .edit-station-modal-form {
    display: grid;
    //grid-template: 32px 132px 32px auto / 180px 1fr;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 32px 132px 32px auto;

    gap: em(16px);

    .image-input {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      label {
        display: block;
        width: 180px;
        aspect-ratio: 1 / 1;
        background-color: #282828;

        &:hover {
          .image-options {
            display: block;
          }
        }

        .station-img-edit-container {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: em(4px);
          position: relative;

          width: 180px;
          aspect-ratio: 1 / 1;
          height: auto;
          box-shadow: 0 4px 12px 0 #0000004d;

          background-color: rgb(40, 40, 40);
          fill: $station-img-default-fill-color;

          img.station-img-edit {
            //padding: em(60px);
            background-color: #262626;
          }

          svg {
            height: 3em;
            width: 3em;
          }

          .svg-container {
            display: flex;
            justify-content: center;
            position: absolute;
            flex-direction: column;
            align-items: center;
            background-color: #262626;
            inset: 0;
          }
        }

        .image-options {
          position: absolute;
          width: 32px;
          height: 32px;
          background-color: rgba(0, 0, 0, 0.3);
          display: none;

          border: none;
          border-radius: 500px;
          align-items: center;
          justify-content: center;
          padding: 8px;
          top: 8px;
          right: 8px;
          color: #fff;
          z-index: 999;

          img.image-options-btn {
            width: 16px;
            height: 16px;
            display: block;
            margin-inline-end: em(12px);
            cursor: pointer;
          }

          .image-options-grid {
            position: absolute;
            top: 130%;
            left: 0;
            display: none;
            grid-template-rows: repeat(2, em(44px));
            grid-template-columns: em(152px);
            background-color: #282828;
            gap: 0;

            .image-option-change,
            .image-option-remove {
              width: 100%;
              background: transparent;
              color: hsla(0, 0%, 100%, 0.9);

              cursor: pointer;
              padding: 4px 8px;
              vector-effect: non-scaling-stroke;
              fill: #656565;
              text-align: start;

              @include flex();

              span {
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 0.875rem;
                font-weight: 400;
              }

              &:hover {
                background-color: #3e3e3e;
                border: 4px solid #282828;
              }
            }
          }
        }
        .image-options.show {
          .image-options-grid {
            display: grid;
          }
        }
      }

      input#station-img-input {
        width: 1px;
        height: 1px;
        margin: -1px;
        clip: 0 0 0 0;
        overflow: hidden;
      }
    }

    .edit-station-name-fieldset {
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      width: 280px;
      height: 40px;
      border: none;
      outline: none;
      position: relative;

      legend {
        color: #b3b3b3;
        inset-inline-start: 10px;
        position: absolute;
        display: inline-block;
        top: 0;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.2s;
        font-weight: 700;
        font-size: 0.75rem;
        cursor: default;
      }

      input#edit-station-name {
        border-radius: 4px;
        color: #fff;
        font-family: inherit;
        width: 100%;
        height: 100%;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.1);
        padding: 0 12px;
        border: none;

        &:focus {
          background-color: #333;
          border: 1px solid #535353;
          outline: none;
        }

        &:invalid {
          box-shadow: inset 0 -2px 0 0 #e91429;
        }
      }

      &:focus-within {
        legend {
          opacity: 1;
        }
      }
    }

    .edit-station-description-fieldset {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      border: none;
      align-self: end;

      width: 280px;
      height: 124px;
      position: relative;

      legend {
        left: 10px;
        color: #b3b3b3;
        font-size: 0.75rem;
        inset-inline-start: 10px;
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        transition: opacity 0.2s;
        font-weight: 700;
      }

      textarea#edit-station-description {
        background: hsla(0, 0%, 100%, 0.1);
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        font-family: inherit;
        font-size: 14px;
        height: 100%;
        width: 100%;
        padding: 8px 8px 28px;
        resize: none;

        &:focus {
          background-color: #333;
          border: 1px solid #535353;
          outline: none;
        }
      }
      &:focus-within {
        legend {
          opacity: 1;
        }
      }
    }

    input.save-edited-station-btn {
      grid-row: 3 / 4;
      grid-column: 2 / 3;

      align-self: center;
      justify-self: flex-end;
      padding: 0.5em 2em;
      height: 3.325em;
      position: relative;
      background-color: $clr-neutral-white;
      color: $clr-neutral-black;
      border-radius: 9999px;
      font-size: inherit;
      margin: 0;

      cursor: pointer;
      text-align: center;
      text-transform: none;
      user-select: none;
      transition-property: background-color, transform;
      transition-duration: 33ms;
      font-size: 0.9rem;
      font-weight: 600;

      &:hover {
        scale: 1.04;
      }
    }

    p.legal-disclaimer {
      grid-row: 4 / 5;
      grid-column: 1 / -1;

      font-weight: 700;
      font-size: 0.65rem;
      -webkit-tap-highlight-color: transparent;
      color: #fff;
      margin-block: 0;
    }
  }
}

.edit-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // semi-transparent backdrop
  display: flex;
  justify-content: center;
  align-items: center;
}
