$btnClr: #1ed760;
$btnHoverClr: #3be377;

.play-btn {
  position: absolute;
  bottom: -1em;
  right: 0;
  opacity: 0;
  transform: translateY(0.5em);
  transition: 200ms ease-out;

  border-radius: 50%;
  background-color: transparent;

  $padding: 20px;
  height: calc(48px + $padding);
  width: calc(48px + $padding);
  margin: 0px;

  & img {
    padding: 12px;
    border-radius: 50%;
    background-color: $btnClr;
  }

  & img:hover {
    padding: 12px;
    border-radius: 50%;
    background-color: $btnHoverClr;
  }
}
