$btnClr: #1ed760;

.play-btn {
  position: absolute;
  bottom: -1em;
  right: -1em;
  opacity: 0;
  height: calc(48px + 16px);
  width: calc(48px + 16px);
  margin: 0px;

  border-radius: 50%;
  background-color: transparent;

  transform: translateY(8px);
  transition: 200ms ease-out;

  & img {
    padding: 10px;
    border-radius: 50%;
    background-color: $btnClr;
  }
}
