section.queue-list {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: auto !important;
  overflow-x: hidden;
  height: auto;
  margin: 0;

  .queue-songs-list {
    display: grid;
    grid-auto-flow: rows;
    grid-auto-columns: 266px;

    li.queue-list-item {
      width: 100%;
    }
  }
}
