$itemBgc: rgb(40, 42, 43, 0.4);

.recent-stations-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include for-extra-wide-layout {
    grid-template-columns: repeat(4, 1fr);
  }
  @include for-mobile-layout {
    padding-block-start: 1em;
    gap: em(8px);
    width: calc(100vw - 20px);
    margin-inline: 10px;
  }
  @include for-narrow-layout {
    padding-inline-end: em(30px);
    gap: em(12px);
  }

  .recent-image {
    height: 64px;
    @include for-mobile-layout {
      height: 48px;
      min-width: 48px;
    }
    @include for-narrow-layout {
      height: 64px;
      min-width: 64px;
    }

    border-radius: em(4px) 0 0 em(4px);
  }

  .recent-station-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    @include for-mobile-layout {
      grid-template-columns: auto 1fr;
    }
    gap: 1em;
    cursor: pointer;

    border-radius: em(4px);
    background-color: $itemBgc;

    transition: background-color 0.3s ease;
    &:hover {
      background-color: lighten($itemBgc, 20%);
    }

    &:hover .btn-play-recent-station {
      opacity: 1;
    }
  }

  .recent-station-name {
    display: grid;
    align-content: center;
    font-weight: bold;
  }
}
