.station-list {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;

  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;
}
