$artistDescClr: #ababab;
$itemBgc: #121212;
$itemHoverBgc: #1f1f1f;

article.station-preview {
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: center;
  padding: em(12px);

  & .index-station-img {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    max-height: 160px;

    &.square {
      border-radius: rem(8px);
    }
  }

  .artist-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    font-weight: 500;
  }

  .artists-description {
    color: $artistDescClr;
  }

  .img-container {
    position: relative;
    margin: auto;
  }
  .txt-container {
    margin-block: 0.2em;
  }
}

.station-item {
  display: grid;
  justify-content: space-between;
  // background-color: $itemBgc;
  width: 182px;
  height: em(250px);
  scroll-snap-align: start;
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: $itemHoverBgc;

    .play-btn {
      opacity: 1;
      bottom: 0.8em;
    }
  }

  .side-bar-station-container {
    overflow-y: auto;
    height: 100%;
  }
}
