$artistDescClr: #ababab;
$itemBgc: #121212;
$itemHoverBgc: #1f1f1f;

article.station-preview {
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: center;
  padding: 1em;

  & .station-img {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .artist-name {
    font-weight: 500;
  }

  .artists-description {
    color: $artistDescClr;
  }

  .img-container {
    position: relative;
  }
}

.station-item {
  display: grid;
  justify-content: space-between;
  background-color: $itemBgc;
  width: 172px;
  height: 226px;
  scroll-snap-align: start;

  &:hover {
    background-color: $itemHoverBgc;

    .play-btn {
      opacity: 1;
      bottom: 0em;
    }
  }
}
