$play-button-size: 24px;
$play-button-circle-size: 56px;

.play-button {
  height: $play-button-size;
  width: $play-button-size;
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: $play-button-circle-size;
  width: $play-button-circle-size;
  background-color: $green-button-color;
  border: none;
  margin: 0;
  padding: 16px;
}

.station-details-action-btns {
  margin-inline: em(23px);
}
