.station-list {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;

  overflow-x: scroll;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;
}

$scrollBtnBgc: #2a2a2a;
$scrollBtnClr: brightness(0) saturate(100%) invert(100%) sepia(96%)
  saturate(16%) hue-rotate(219deg) brightness(103%) contrast(100%);

.btn-scroll-right {
  right: 0;
}

.btn-scroll-left {
  left: 0;
}

.btn-scroll {
  position: absolute;
  display: none; // display: grid;
  place-content: center;
  z-index: 1;
  top: 86px; // 172/2=86 (172 is station-item width)

  border-radius: 50%;

  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
  background-color: $scrollBtnBgc;

  .scroll-icon {
    width: 1em;
    height: 1em;
    filter: $scrollBtnClr;
  }
}

.btn-scroll-left {
  left: 0;
  top: 86px; // 172/2=86 (172 is station-item width)
}
