.station-table {
  font-size: em(14px);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns:
    2em
    minmax(120px, 6fr)
    minmax(120px, 4fr)
    minmax(120px, 3fr)
    minmax(120px, 1fr);
  margin: 2em 1.5em 0 2.5em;
  color: $station-table-header-font-color;
}

.song-row {
  font-size: em(14px);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns:
    2em
    minmax(7.5em, 41em)
    minmax(7.5em, 27.3em)
    minmax(7.5em, 1.8fr)
    minmax(7.5em, 1fr);
  color: $station-table-header-font-color;

  margin: 0;
  margin-left: 2em;
  margin-bottom: 1em;

  &:hover {
    background-color: $station-hover-color;

    & .song-index {
      display: none;
    }

    & .hover-song-play {
      display: inline;
      fill: $clr6;
      height: em(16px);
      width: em(16px);
    }
  }

  .hover-song-play {
    display: none;
  }
}

.song-index,
.hover-song-play,
.album-song-artist,
.song-album,
.album-img,
.song-length {
  display: flex;
  align-items: center;
  line-height: inherit;
}

hr {
  border: none;
  height: 1px;
  // margin: 0.5em 1em;
  margin: 0.5em 1em 1em 1em;
  // margin-bottom: 1em;

  background-color: $hr-color;
}

.song-title-artist {
  margin-left: 1em;
}

$song-length-size: em(16px);
.song-length-icon {
  height: $song-length-size;
  width: $song-length-size;
  fill: $station-img-default-fill-color;
}

.song-index {
  padding-left: 0.5em;
}

$album-img-size: em(40px);
.album-img {
  height: $album-img-size;
  width: $album-img-size;
}

.song-title {
  font-weight: 400;
  font-size: 1em;
  font-family: 'Spotifymix-Bold';
  color: #f0f0f0;
}
