.station-table,
.song-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns:
    em(16px)
    minmax(120px, 6fr)
    minmax(120px, 4fr)
    minmax(120px, 3fr)
    minmax(120px, 1fr);
  margin: 0 em(24px);
}
hr {
  color: $hr-color;
}
