.station-explore-article {
  position: relative;
  overflow: hidden;

  border: none;

  border-radius: em(8px);
  padding-bottom: 56.25%;
  height: 100%;
  width: 100%;

  min-height: em(123.5px);
  max-height: em(180px);

  min-width: em(220px);
  max-width: em(240px);

  cursor: pointer;
  font-family: Spotifymix-Bold, sans-serif;
  transition: all 0.2s ease;

  .genre-header {
    padding: em(16px);
    hyphens: auto;
    max-width: 80%;
    span {
      text-transform: capitalize;
      font-size: 1.2rem;
      font-weight: 700;
      text-wrap: balance;
    }
  }

  .img-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    min-width: em(130px);
    max-width: em(205px);
    aspect-ratio: 1 / 1;
    border-radius: em(4px);

    transform: rotate(25deg) translate(18%, -2%);
    transform-origin: center;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    img {
      object-fit: cover;
      object-position: center center;
      overflow: clip;
      user-select: none;
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
      border-radius: em(4px);
    }
  }

  &:focus-visible {
    outline: 1px solid $clr-neutral-white;
  }

  // Media Queries

  @media (min-width: 768px) {
    max-width: em(300px);

    .genre-header span {
      font-size: 1.5rem;
    }
  }
}
