// .main-container .app-header {
//   padding: 0;
// }
$whiteFilter: invert(100%) sepia(100%) saturate(46%) hue-rotate(89deg)
  brightness(112%) contrast(112%);
.app-header {
  display: flex;
  min-height: em(48px);
  padding: 0 0.35em 0 1.5em;
  //margin-block-end: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: $clr8;

  nav {
    width: 100%;

    @include flex($justify-content: space-between);
    align-items: center;
    //justify-items: center;

    font-size: 0.8em;

    .active {
      color: $clr1;
    }

    button {
      margin-inline-end: 0;
      text-align: center;
    }

    .profile-section {
      justify-self: end;
      margin-inline-start: 2.5em;
    }

    .header-logo-link {
      display: grid;
      width: 37px;
      height: 37px;

      .logo {
        margin: auto;
        filter: $whiteFilter;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 0.5em;
      max-width: 546px;
      min-width: 350px;
      width: 60%;

      .home-btn {
        margin: 0;
        background-color: $gray5;
        color: #fff;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        @include flex();

        flex-shrink: 0;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        height: 48px;
        aspect-ratio: 1 / 1;

        &:hover {
          background-color: #2a2a2a;
          scale: 1.04;
        }
        &:focus {
          outline: none;
        }
      }

      .search-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        padding-inline: 0;
        background-color: $gray5;
        border-radius: 500px;
        outline: 1px solid transparent;
        transition: all 0.22s ease-in;

        &:hover {
          outline: 1px solid $clr-neutral-gray-5;
          background-color: #2a2a2a;

          .search-icon {
            fill: white;
          }
        }

        &:focus-within {
          //outline: 4px solid $clr-neutral-white;
          background-color: #2a2a2a;
          box-shadow: inset 0 0 0 2px $clr-neutral-white;
          cursor: unset;

          .search-icon {
            fill: white;
          }
        }

        .search-icon {
          display: grid;
          fill: #b3b3b3;
          background-color: transparent;
          transition: fill 0.5s ease;
          cursor: pointer;
          padding: 10px 0 13px 18px;
          height: 48px;
          width: 48px;
          font-size: 1rem;
        }

        input.search-bar {
          @include search-bar;
          background-color: transparent;
          width: clamp(415px, 100%, 475px);
          max-width: 480px;
          text-decoration: none;
          outline: none;
          border: none;
          max-height: 48px;
          font-size: 1rem;
          padding-block: 1em;
          padding-inline-start: 10px;

          cursor: text;
          color: white;

          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-search-results-decoration {
            display: none;
          }

          &::placeholder {
            text-overflow: ellipsis;
            color: rgba(white, 0.65);
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1.05px;
          }

          &:not(:placeholder-shown) {
            ~ a.browser-btn {
              display: none;
            }
            ~ button.reset-btn {
              display: grid;
            }
          }
        }

        a.browser-btn {
          padding-inline: 12px 4px;
          margin-inline-end: 12px;
          margin-inline-start: 7px;

          display: grid;
          place-content: center;
          width: 48px;
          height: 24px;
          color: $clr-neutral-white;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          border-inline-start: 1px solid #7c7c7c;

          img.browser-icon {
            color: $clr-neutral-white;

            display: block;
            background-color: transparent;

            transition: fill 0.4s ease;
            fill: currentcolor;
            width: 24px;
            height: 24px;

            overflow: hidden;

            &:hover {
              fill: #fff;
              scale: 1.04;
              cursor: pointer;
            }
          }
        }
        button.reset-btn {
          display: none;
          padding-inline: 12px 4px;
          margin-inline-end: 12px;
          margin-inline-start: 7px;

          place-content: center;
          width: 48px;
          height: 24px;
          background-color: transparent;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;

          img.reset-icon {
            color: $clr-neutral-white;

            display: block;
            background-color: transparent;

            transition: fill 0.4s ease;
            fill: currentcolor;
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;

            overflow: hidden;

            &:hover {
              fill: #fff !important;
              scale: 1.04;
              cursor: pointer;
            }
          }
        }
      }
    }

    .profile-section {
      grid-column: 3;
      grid-row: 1;
      justify-self: end;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
    color: $clr1;
    position: relative;
    cursor: pointer;

    button {
      color: white;
      border-radius: 8px;
      background-color: $station-hover-color;
    }

    img {
      width: 32px;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    .btn-link {
      color: $clr2;
    }
  }

  .btn-header-profile {
    display: grid;
    place-content: center;
    padding: 0;
    margin: 0;
    height: 48px;
    width: 48px;
    background-color: #1f1f1f;
    border-radius: 50%;

    .header-profile-icon {
      width: 32px;
      height: 32px;
      filter: invert(62%) sepia(9%) saturate(524%) hue-rotate(357deg)
        brightness(91%) contrast(86%);
    }
  }

  .header-home-icon {
    $size: 28px;
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(51deg)
      brightness(98%) contrast(96%);
  }

  @include tablet {
    transition: opacity 0.3s ease-in;

    nav {
      justify-content: flex-start;

      .profile-section {
        margin-inline-start: auto;
      }
    }
    input.search-bar {
      width: 410px;
      flex-shrink: 2;
    }
  }

  .user-menu {
    position: absolute;
    right: 4em;
    top: 54px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: #282828;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;

    button {
      background-color: inherit;
      font-size: 0.9em;
      border-radius: 1em;
      padding: 1em;
      margin: 0;
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
    }

    button:hover {
      background-color: #3e3e3e;
    }

    .hidden {
      display: none;
    }
  }

  @include mobile {
  }
}
