.main-container .app-header {
  padding: 0;
}

.app-header {
  display: flex;
  margin: 0;
  min-height: 3.5rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;

  background-color: $clr8;
  padding: rem(10px) 1rem;

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 1em;

    font-size: 0.8em;

    .active {
      color: $clr1;
    }

    button {
      margin-inline-end: 0;
      text-align: center;
    }

    .header-logo-link {
      display: grid;
      margin-inline-start: 1em;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-inline-start: auto;

    color: $clr1;

    .score {
      padding: 8px;
      background-color: $clr2;
      border-radius: 50%;
      margin: 10px;

      color: $clr6;
    }

    img {
      width: 32px;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    .btn-link {
      color: $clr2;
    }
  }

  .btn-header-profile {
    display: grid;
    place-content: center;
    padding: 0;
    margin: 0;
    height: 48px;
    width: 48px;

    background-color: #1f1f1f;
    border-radius: 50%;
  }
  .header-profile-icon {
    width: 32px;
    height: 32px;
    filter: invert(62%) sepia(9%) saturate(524%) hue-rotate(357deg)
      brightness(91%) contrast(86%);
  }

  .header-home-icon {
    $size: 28px;
    width: $size;
    height: $size;
    padding: 2px;
    filter: invert(62%) sepia(9%) saturate(524%) hue-rotate(357deg)
      brightness(91%) contrast(86%);
  }
}
