.side-bar {
  // height: 100%;
  width: $sidebar-width;
  border-radius: 0.5em;
  background-color: $gray6;
  margin-inline: 0.2em;
  padding-top: 1.5em;
  padding-inline: 0.9em;
  // position: sticky;

  .library-icon {
    cursor: pointer;
    transition: fill 0.7s ease;
  }
  h3 {
    color: $gray7;
    margin-block: auto;
    font-size: 1em;
    transition: color 0.7s ease;
  }

  .side-bar-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .side-bar-header-container-left {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .side-bar-header-container-left:hover {
    cursor: pointer;
    h3 {
      color: white;
      cursor: pointer;
    }
    .library-icon {
      fill: white;
    }
  }
  .plus-btn {
    background-color: $gray6;
    height: fit-content;
    fill: white;
    padding: 0.5em;
    border-radius: 50%;
    display: grid;
    height: fit-content;
  }

  .plus-btn:hover {
    background-color: $gray8;
    cursor: pointer;
  }

  .side-bar-sort-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    overflow-x: scroll;
    margin-top: 1em;
  }

  .sort-item {
    font-size: 0.9em;
    background-color: #2a2a2a;
    padding: 0.5em 0.8em;
    border-radius: 2em;
  }

  .side-bar-sort-container::-webkit-scrollbar {
    display: none;
  }

  .side-bar-search-container {
    button {
      background-color: transparent;
      display: grid;
      fill: #b3b3b3;
      border: none;
      cursor: pointer;
      padding: 0.5em;
      border-radius: 50%;
    }

    button:hover {
      background-color: #2a2a2a;
      cursor: pointer;
    }
  }
  .side-bar-station-container {
    overflow-y: scroll;
    height: 100vh;
  }
}

// .side-bar-container {
//   position: relative;
//   width: $sidebar-width;
//   padding-bottom: 0;
// }
