// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

// Flex
.flex {
  display: flex;
}

.flex.full {
  flex: 1;
}

.flex.inline-flex {
  display: inline-flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

// Grid

.grid {
  display: grid;
}

.grid.g-pi-center {
  place-items: center;
}

.grid-gap-05 {
  gap: 0.5em;
}

.grid-gap-1 {
  gap: 1em;
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Text
.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.text-line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-undeline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

// Positon
.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.pos-abs {
  position: absolute;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
  outline: none;
  /* display: none; */
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

// Display
.display-block {
  display: block;
}

.clean-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.center-content {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  * {
    margin: auto;
  }
}

.spotify-green-clr {
  color: $clr-spotify-green;
}
