.main-container main {
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width-full 1fr;
  grid-template-rows: auto 1fr auto;
  gap: em(8px);
  padding: em(8px);

  .main {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  aside {
    grid-column: 1;
    grid-row: 2;
    background-color: $itemBgc;
  }

  .app-footer {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .app-header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .full-page {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 100;
    padding-block-end: 0;
  }

  // @include for-narrow-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $mobile-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-normal-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $narrow-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-wide-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $normal-breakpoint)
  //         minmax(20px, 1fr);
  // }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

main {
  @include rounded-container;
  // margin-block-end: 6em;
  position: relative;
}

.main-container.queue-open {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width-half 1fr $sidebar-width-half;
  grid-template-rows: auto 1fr auto;
  gap: em(8px);
  padding: em(8px);

  .main {
    grid-column: 2 / 5;
    grid-row: 2 / 5;

    .station-index ul.recent-stations-list {
      grid-template-columns: repeat(2, 1fr);
      @include for-extra-wide-layout {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  aside {
    grid-column: 1;
    grid-row: 2;
    background-color: $itemBgc;
    width: $sidebar-width-half;
  }

  .app-footer {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .app-header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .queue-index {
    grid-column: -1 / -2;
    grid-row: 2;
  }

  .full-page {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 100;
    padding-block-end: 0;
  }
}
