.main-container {
  display: grid;
  grid-template-columns: $sidebar-width 1fr; // 420px
  grid-template-rows: 48px 1fr 72px;
  // grid-template-rows: em(48px) minmax(1fr, 100%) em(72px); //
  gap: em(8px);
  padding: em(8px);
  // overflow: hidden;
  // height: 100vh;
  // height: calc(100vh - 103px);

  .main {
    min-height: 90vh;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  aside {
    grid-column: 1;
    grid-row: 2;
    background-color: $itemBgc;
    min-height: 90vh;
  }

  .app-footer {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .app-header {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  // @include for-narrow-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $mobile-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-normal-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $narrow-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-wide-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $normal-breakpoint)
  //         minmax(20px, 1fr);
  // }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

main {
  @include rounded-container;
  margin-block-end: 6em;
  position: relative;
}
