.main-container main {
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width-full 1fr;

  @include for-mobile-layout {
    grid-template-rows: auto 1fr;
  }

  @include for-narrow-layout {
    grid-template-rows: auto 1fr auto;
    gap: em(8px);
    padding: em(8px);
  }

  @include for-wide-layout {
    grid-template-columns: 300px 1fr;
  }

  .main {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  aside {
    grid-column: 1;
    grid-row: 2;
    background-color: $itemBgc;
  }

  .app-footer,
  .app-footer-mobile {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .app-header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .full-page {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 100;
    padding-block-end: 0;
  }

  // @include for-narrow-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $mobile-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-normal-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $narrow-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-wide-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $normal-breakpoint)
  //         minmax(20px, 1fr);
  // }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

main {
  @include for-narrow-layout {
    @include rounded-container;
  }
  // margin-block-end: 6em;
  position: relative;
}

.main-container.queue-open {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width-half 1fr $sidebar-width-half;
  grid-template-rows: auto 1fr auto;
  gap: em(8px);
  padding: em(8px);

  .main {
    grid-column: 2 / 5;
    grid-row: 2 / 5;

    .station-index ul.recent-stations-list {
      grid-template-columns: repeat(2, 1fr);
      @include for-extra-wide-layout {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.main-container.sidebar-open {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width-closed 1fr;
  grid-template-rows: auto 1fr auto;
  gap: em(8px);
  @include for-narrow-layout {
    padding: em(8px);
  }

  aside.side-bar {
    overflow: hidden;
    width: 72px;
    padding-inline: 0;
    .side-bar-header-container {
      padding-inline: 0;
      .side-bar-header-container-left {
        .library-open-icon {
          height: 48px;
          width: 48px;
          padding: 12px;
          margin-inline-start: 0.5em;
        }

        h3.side-bar-header {
          display: none;
        }
      }

      span.plus-btn {
        display: none;
      }

      ul.side-bar-new-playlist-container {
        display: none;
      }
    }

    .side-bar-sort-container {
      display: none;
    }

    .side-bar-station-container {
      .side-bar-search-container {
        display: none;
      }
    }

    .pinned-stations {
      overflow-x: hidden;
      width: 64px;
      h3 {
        display: none;
      }
    }

    .regular-stations {
      overflow-x: hidden;
      .side-bar-station-preview {
        width: 64px;
        position: relative;
        background-color: transparent;

        .side-bar-station-preview-info {
          pointer-events: none;
          display: grid;
          z-index: 99999;
          position: absolute;
          top: 0;
          left: 200%;
          width: max-content;
          //width: 300px;
          padding: 4px;
          grid-template-columns: 1fr; //minmax(auto-fit, 1fr);
          grid-template-rows: 1fr 1fr;

          background-color: #121212;
        }

        &:hover {
          .sidebar-station-img {
            box-shadow: 0 0 2px 6px rgba(46, 46, 46, 0.4);
          }

          .side-bar-station-preview-info {
            display: grid;
          }
        }
      }
    }
  }
}

.main-container.sidebar-open.queue-open {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width-closed 1fr $sidebar-width-half;
  grid-template-rows: auto 1fr auto;
  gap: em(8px);
  padding: em(8px);

  .side-bar {
    width: 100%;
  }
}

@include for-mobile-layout {
  main {
    width: 100vw;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
