@font-face {
  font-family: Spotifymix-Black;
  src: url(src/assets/fonts/SpotifyMix-Black.ttf);
}

@font-face {
  font-family: Spotifymix-Bold;
  src: url(src/assets/fonts/SpotifyMix-Bold.ttf);
}

@font-face {
  font-family: Spotifymix-Extrabold;
  src: url(src/assets/fonts/SpotifyMix-Extrabold.ttf);
}

@font-face {
  font-family: Spotifymix-Light;
  src: url(src/assets/fonts/SpotifyMix-Light.ttf);
}

@font-face {
  font-family: Spotifymix-Medium;
  src: url(src/assets/fonts/SpotifyMix-Medium.ttf);
}

@font-face {
  font-family: spotifymix-regular;
  src: url(../fonts/SpotifyMix-Regular.ttf);
}

@font-face {
  font-family: Spotifymix-Thin;
  src: url(src/assets/fonts/SpotifyMix-Thin.ttf);
}

@font-face {
  font-family: Spotifymix-Ultra;
  src: url(src/assets/fonts/SpotifyMix-Ultra.ttf);
}
