@font-face {
  font-family: spotifymix-black;
  src: url(../../fonts/SpotifyMix-Black.ttf);
}
@font-face {
  font-family: spotifymix-bold;
  src: url(../../fonts/SpotifyMix-Bold.ttf);
}
@font-face {
  font-family: spotifymix-extrabold;
  src: url(../../fonts/SpotifyMix-Extrabold.ttf);
}
@font-face {
  font-family: spotifymix-light;
  src: url(../../fonts/SpotifyMix-Light.ttf);
}
@font-face {
  font-family: spotifymix-medium;
  src: url(../../fonts/SpotifyMix-Medium.ttf);
}
@font-face {
  font-family: spotifymix-regular;
  src: url(../fonts/SpotifyMix-Regular.ttf);
}
@font-face {
  font-family: spotifymix-thin;
  src: url(../../fonts/SpotifyMix-Thin.ttf);
}
@font-face {
  font-family: spotifymix-ultra;
  src: url(../../fonts/SpotifyMix-Ultra.ttf);
}
