// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/forms';

// pages
@import 'RootCmp';

@import 'pages/AboutUs';
@import 'pages/CarIndex';
@import 'pages/ReviewIndex';
@import 'pages/UserDetails';
@import 'pages/TaskDetails';

@import 'pages/LoginSignup';
@import 'pages/Login';

@import 'pages/StationIndex';
@import 'pages/StationDetail';

// Components
@import 'cmps/list';
@import 'cmps/StationPreview';
@import 'cmps/StationList';
@import 'cmps/PlayBtn';
@import 'cmps/Sidebar';
@import 'cmps/AppHeader';
@import 'cmps/AppFooter';
@import 'cmps/UserMsg';
@import 'cmps/ScrollBtn';

@import 'cmps/SideBar';
@import 'cmps/SideBarStationPreview';
@import 'cmps/CarFilter';
@import 'cmps/ReviewEdit';
@import 'cmps/ReviewList';
@import 'cmps/ReviewPreview';

@import 'cmps/nav-links';
@import 'cmps/icon-style';
// @import "cmps/CarList";
// @import "cmps/CarPreview";

@import 'cmps/StationDetailHeader';
@import 'cmps/StationDetailActionBtns';
@import 'cmps/StationDetailList';
@import 'cmps/StationDetailPreview';
@import 'cmps/LoginForm';
