html,
body {
  overflow: hidden; // Prevents scrolling on the entire page
  ::-webkit-scrollbar {
    color: #5a5a5a;
    width: 0.5em;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 1em;
  }
}

.main-container {
  overflow: hidden;
  padding-bottom: 10em;
}
