html,
body {
  overflow: hidden; // Prevents scrolling on the entire page
}

.main-container main {
  // min-height: calc(100vh - 7rem);
  overflow: hidden; // Prevents scrolling within the main container
  height: 100vh;
}
